<template name="tmp_tbox_descriptivebox">
	<div class="descripItem tbox-container col-md-6" tp="des" draggable="true" ondragstart="drag(event)" style="height: 100px;border: 1px solid #337ab7;border-radius: 5px;">
		<table>
			 <tr>
				 <td class="title">image url:</td>
				 <td>{{URL}}</td>
			 </tr>
			 <tr>
				<td class="title">image count:</td>
				<td>{{Count}}</td>
			</tr>
			<tr>
				<td class="title">series number:</td>
				<td>{{SeriesNumber}}</td>
			</tr>
			<tr>
				<td class="title">description:</td>
				<td>{{Description}}</td>
			</tr>
		</table> 
	</div>
</template>