<template name="soap">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Call Soap Service</h1>
            </div>
            <div class="col-md-12">
                <div class="col-md-10">
                    <input type="text" class="form-control txt-soap-url" placeholder="Soap Service Url">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary from-control btn-load-soap">Load Soap Service</button>
                </div>
            </div>
            <div class="col-md-12 soap-body">

            </div>
        </div>
    </div>
</template>